// Variables and Colours
@white:     #FFF;
@gray:      #352f2a;
@lime:      #89b820;
@lightGray: #B7B7B7;

@default_fonts: 'Open Sans', sans-serif;

.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

// Any overrides of Base
h1, h2, h3, h4, h5, h6 {
  font-family: @default_fonts;
  .no-margin;
}

p {
  .no-margin;
}