// Import Base
@import "base";


// Website / App Styles
@import "styles/_includes";

// Import Base Helpers
@import "base/_helpers";

// ==========================================================================
// Website Stylesheet
// ==========================================================================
body {
  color: @white;
  font-family: @default_fonts;
}

#top_side {
  position: relative;
  height: 973px;
  background-image: url('../img/header_bg.jpg'), url('../img/bg_filler.jpg');
  background-position: right top, left top;
  background-repeat: no-repeat, repeat-x;

  & #logo {
    position: absolute;
    top: 31px;
    left: 26px;
  }

  & .intro_text {
    .font-300;
    .font-size(60);
    .line-height(73);
    padding: 99px 0 39px;
  }

  & .intro_example {
    .font-italic;
    .font-size(22);
    .line-height(30);
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 17px 0 19px;

    & span {
      .font-700;
    }
  }

  & .slider_title,
  & .slider_value {
    color: @gray;
  }

  & .slider_title {
    padding: 29px 0 13px;
    .font-700;
    .font-size(12);
    .uppercase;
  }

  & .slider_value {
    .font-size(35);
    padding: 5px 0 0;
  }

  & .calculations {
    .font-size(16);
    padding: 34px 0 0;

    & span {
      .font-700;
    }
  }

  & .confirm_button {
    margin-top: 60px;
    .right;
	.no-padding;

	& a {
	  .right;
	  .font-size(30);
	  color: @white;
	  padding: 20px 65px 10px 43px;
	  width: 260px;
	  height: 65px;
	  background: red;
	  display: block;
	  border-radius: 65px;
	  background: #f66c2f; /* Old browsers */
	  background: -moz-linear-gradient(top, #f66c2f 0%, #e2581a 100%); /* FF3.6-15 */
	  background: -webkit-linear-gradient(top, #f66c2f 0%,#e2581a 100%); /* Chrome10-25,Safari5.1-6 */
	  background: linear-gradient(to bottom, #f66c2f 0%,#e2581a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f66c2f', endColorstr='#e2581a',GradientType=0 ); /* IE6-9 */
	  text-decoration: none;

	  &:hover {
		background: #e2581a; /* Old browsers */
		background: -moz-linear-gradient(top, #e2581a 0%, #f66c2f 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #e2581a 0%, #f66c2f 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #e2581a 0%, #f66c2f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2581a', endColorstr='#f66c2f',GradientType=0 ); /* IE6-9 */
	  }

	  &:after {
		.font-size(50);
		content: "\00BB";
		.absolute;
		right: 35px;
		top: 15px;
	  }
	}
  }

  & #scroll_down {
    position: absolute;
    bottom: 0;
    left: 50%;
	margin-left: -57px;

    & a {
	  background: url('../img/scroll_down.png') no-repeat center top;
      width: 114px;
      height: 45px;
      display: block;
	  text-indent: 7777px;
	  overflow: hidden;
    }
  }
}

#bottom_side {
  color: @gray;
  .font-size(14);
  margin-bottom: 100px;

  & .sections {
	.text-center;
	margin: 0 130px;

	& .col-4 {
	  padding: 0 15px;
	}

	.col-12 {
	  & .box {
		min-height: 0;
	  }

	}

	.col-4-l {
	  & .box {
		border-top: 1px solid @lightGray;
		border-bottom: 1px solid @lightGray;
		padding-bottom: 20px;
		min-height: 300px;
	  }
	}
	& .box {
	  position: relative;
	  margin-right: 5px;

	  & .number {
		position: absolute;
		left: 50%;
		right: 50%;
		margin: -25px 0 0 -25px;
		.font-size(35);
		color: @lime;
		background-color: @white;
		width: 50px;
		height: 50px;
		padding-right: 2px;
		.line-height(50);
	  }
	}
  }

  & h2 {
	color: @lime;
	.font-size(35);
	.font-300;
	.text-center;
	padding: 65px 0 45px;
  }

  & h3 {
	color: @gray;
	padding: 22px 0 8px;
	.font-700;
	.font-size(16);
  }

  & a {
	.font-700;
  }

  & .snippets {

	& strong {
	  color: @lime;
	  .font-700;
	}
  }
}

// noUiSlider
.noUi-target,
.noUi-handle {
  .no-background;
  .no-border;
  .no-box-shadow;
}

.noUi-horizontal {
  height: 5px;
  background-color: #47A4DD;
  border: 1px solid #2e6c92;
  border-bottom-color: #78c8fb;
  border-left-color: #78c8fb;
  border-radius: 3px;
  margin: 30px 0;

  & .noUi-handle {
	width: 54px;
	height: 53px;
	left: -27px;
	top: -23px;
  }
}

.noUi-connect {
  background-color: #3D698E;
  border-radius: 3px;
  border-top: 1px solid #245370;
  .no-box-shadow;
}

.noUi-handle {
  background: url('../img/slider_marker.png') no-repeat center center;
  cursor: pointer;

	&:before,
  	&:after {
	  content: none;
	}
}

.noUi-pips-horizontal {
  .no-padding;
  top: -15px;
  height: 33px;
  width: 99.3%;
  margin-left: 3px;
}

.noUi-value {
  color: @white;
  top: -35px;
  .font-size(12);
  white-space: nowrap;
  overflow: hidden;
}

.noUi-marker-horizontal {
  &.noUi-marker,
  &.noUi-marker-large {
	width: 1px;
	height: 33px;
	background-color: #4491be;
  }
}